<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.demo.authAck.mapper.AuthAckMapper">

    <select id="getAuthAckByFacId" resultType="org.jeecg.modules.demo.authAck.entity.AuthAckVo">
        SELECT
        *
        FROM
        auth_ack
        where 1 = 1
        LIMIT 1
    </select>

</mapper>